<div class="best_rated_products_container">
    <div class="container">
        <div class="section_header">
            <h2 class="title">Best Selling</h2>
        </div>
        <div class="content">
            <div id="best_rated_products-carousel" class="owl-carousel owl-theme">
                
                <div class="product_item">
                    <div class="product_info">
                        <div class="img">
                            <div class="attributer">
                                <button class="wishlist" title="wishlist"><i class="fa fa-heart-o"></i></button>
                                <button class="quickview" title="quickview"><i class="fa fa-expand"></i></button>
                            </div>
                            <!-- <span class="msg success">Popular</span> -->
                            <img src="https://shop.activeitzone.com/public/uploads/all/KorbBNbxqdHYBKAbMvLH8W1OXdKnHIpd0jtI8wOh.png" alt="">
                        </div>
                        <div class="content">
                            <div class="price">
                                <del>303.00$</del>
                                <strong>278.85$</strong>
                            </div>
                            <h5 class="name">OnePlus 8 (Glacial Green 8GB RAM+128GB Storage)</h5>
                        </div>
                    </div>
                    <button class="add_to_cart">Add to Cart
                        <!-- <span class="count" title="Total item in cart!">2</span> -->
                    </button>
                </div>
                
                <div class="product_item">
                    <div class="product_info">
                        <div class="img">
                            <div class="attributer">
                                <button class="wishlist" title="wishlist"><i class="fa fa-heart-o"></i></button>
                                <button class="quickview" title="quickview"><i class="fa fa-expand"></i></button>
                            </div>
                            <!-- <span class="msg success">Popular</span> -->
                            <img src="https://shop.activeitzone.com/public/uploads/all/6rn3dJ1d7bQV2804mEO3uhPCeR8wWMQkHQled7J6.png" alt="">
                        </div>
                        <div class="content">
                            <div class="price">
                                <strong>60.85$</strong>
                            </div>
                            <h5 class="name">Women's Printed Cotton Pajama Set</h5>
                        </div>
                    </div>
                    <button class="add_to_cart">Add to Cart
                        <span class="count" title="Total item in cart!">1</span>
                    </button>
                </div>
                
                <div class="product_item">
                    <div class="product_info">
                        <div class="img">
                            <div class="attributer">
                                <button class="wishlist" title="wishlist"><i class="fa fa-heart-o"></i></button>
                                <button class="quickview" title="quickview"><i class="fa fa-expand"></i></button>
                            </div>
                            <span class="msg danger">-30% Off</span>
                            <img src="https://shop.activeitzone.com/public/uploads/all/MPk8OI5xPXWHCqEZw5decATlnNpqD8uBMN7RTmw4.png" alt="">
                        </div>
                        <div class="content">
                            <div class="price">
                                <del>61.20$</del>
                                <strong>42.84$</strong>
                            </div>
                            <h5 class="name">Adidas Prime Backpack for traveler</h5>
                        </div>
                    </div>
                    <button class="add_to_cart">Add to Cart
                        <!-- <span class="count" title="Total item in cart!">2</span> -->
                    </button>
                </div>
                
                <div class="product_item">
                    <div class="product_info">
                        <div class="img">
                            <div class="attributer">
                                <button class="wishlist" title="wishlist"><i class="fa fa-heart-o"></i></button>
                                <button class="quickview" title="quickview"><i class="fa fa-expand"></i></button>
                            </div>
                            <!-- <span class="msg danger">Sold Out</span> -->
                            <img src="https://shop.activeitzone.com/public/uploads/all/b2dq2wgYF7eQRxbVgkqqZUulbhKCszlq60WBZ4Ez.png" alt="">
                        </div>
                        <div class="content">
                            <div class="price">
                                <strong>30$</strong>
                            </div>
                            <h5 class="name">Adidas Men's 2021-22 Arsenal FC Home Jersey</h5>
                        </div>
                    </div>
                    <button class="add_to_cart">Add to Cart
                        <!-- <span class="count" title="Total item in cart!">2</span> -->
                    </button>
                </div>
                
                <div class="product_item">
                    <div class="product_info">
                        <div class="img">
                            <div class="attributer">
                                <button class="wishlist" title="wishlist"><i class="fa fa-heart-o"></i></button>
                                <button class="quickview" title="quickview"><i class="fa fa-expand"></i></button>
                            </div>
                            <!-- <span class="msg danger">Sold Out</span> -->
                            <img src="https://shop.activeitzone.com/public/uploads/all/brO9DLQukZXwzHMH9vExLST8L8w31nDk0ZqMxe3k.png" alt="">
                        </div>
                        <div class="content">
                            <div class="price">
                                <del>30.00$</del>
                                <strong>28.85$</strong>
                            </div>
                            <h5 class="name">Microsoft Surface Arc Mouse, - CZV-00001</h5>
                        </div>
                    </div>
                    <button class="add_to_cart">Add to Cart
                        <span class="count" title="Total item in cart!">4</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>