<div class="coupon_wrapper">
    <div class="container">
        <div class="section_header">
            <h2 class="title">Coupon</h2>
        </div>

        <div class="coupons">
            <div class="coupon_item">
                <img src="/assets/images/coupon/1.png" alt="">
                <button class="copy_coupon">Copy Code</button>
            </div>
            <div class="coupon_item">
                <img src="/assets/images/coupon/2.png" alt="">
                <button class="copy_coupon">Copy Code</button>
            </div>
            <div class="coupon_item">
                <img src="/assets/images/coupon/3.png" alt="">
                <button class="copy_coupon">Copy Code</button>
            </div>
            <div class="coupon_item">
                <img src="/assets/images/coupon/4.png" alt="">
                <button class="copy_coupon">Copy Code</button>
            </div>
            <div class="coupon_item">
                <img src="/assets/images/coupon/5.png" alt="">
                <button class="copy_coupon">Copy Code</button>
            </div>
            <div class="coupon_item">
                <img src="/assets/images/coupon/6.png" alt="">
                <button class="copy_coupon">Copy Code</button>
            </div>
            <div class="coupon_item">
                <img src="/assets/images/coupon/7.png" alt="">
                <button class="copy_coupon">Copy Code</button>
            </div>
            <div class="coupon_item">
                <img src="/assets/images/coupon/8.png" alt="">
                <button class="copy_coupon">Copy Code</button>
            </div>
            <div class="coupon_item">
                <img src="/assets/images/coupon/9.png" alt="">
                <button class="copy_coupon">Copy Code</button>
            </div>
            <div class="coupon_item">
                <img src="/assets/images/coupon/10.png" alt="">
                <button class="copy_coupon">Copy Code</button>
            </div>
        </div>
    </div>
</div>