    <!-- bottom nav for mobile start -->
    <nav class="mobie_bottom_nav">
        <a href="#" class="Home" title="Home">
            <i class="icon fa fa-home"></i>
            Home
        </a>
        <button class="Categories" title="Categories">
            <i class="icon fa fa-th-large"></i>
            Categories
        </button>
        <button class="Chating" title="Chating">
            <i class="icon fa fa-comments"></i>
            Chating
        </button>
        <button class="Cart mobile_cart_toggle_btn" title="Cart">
            <i class="icon fa fa-shopping-basket"></i>
            Cart
        </button>
        <button class="Account" title="Account">
            <i class="icon fa fa-user"></i>
            Account
        </button>
    </nav>
<!-- bottom nav for mobile end -->