



<div class="tab_wrapper">
    <div class="container">
        <div class="tab_btn_wrapper">
            <button class="tab_btn active">Description</button>
            <button class="tab_btn">Specification</button>
            <button class="tab_btn">Rating & Reviews</button>
        </div>
        <div class="tab_content active">

            <!-- product rating start -->
            <div class="rating_wrapper">
                <div class="avarage_rating">
                    <strong class="avarage">3.67</strong>
                    <p class="out_of">Out Of 5.00</p>
                    

                    <!-- product rating start -->
                    <div class="rating active" style="--rating: 40%">
                        <img src="assets/images/single-rating.png" alt="alt">
                    </div>
                    <!-- product rating end -->

                    <span class="total_rating">3 Ratings</span>
                </div>
                <div class="rating_classification">
                    <div>
                        <!-- product rating start -->
                        <div class="rating active" style="--rating: 100%">
                            <img src="assets/images/single-rating.png" alt="alt">
                        </div>
                        <!-- product rating end -->

                        <div class="progress" style="--width: 40%">
                            <div class="progress_bar"></div>
                            <span>5</span>
                        </div>
                    </div>
                    <div>
                        <!-- product rating start -->
                        <div class="rating active" style="--rating: 80%">
                            <img src="assets/images/single-rating.png" alt="alt">
                        </div>
                        <!-- product rating end -->

                        <div class="progress" style="--width: 80%">
                            <div class="progress_bar"></div>
                            <span>8</span>
                        </div>
                    </div>
                    <div>
                        <!-- product rating start -->
                        <div class="rating active" style="--rating: 60%">
                            <img src="assets/images/single-rating.png" alt="alt">
                        </div>
                        <!-- product rating end -->

                        <div class="progress" style="--width: 30%">
                            <div class="progress_bar"></div>
                            <span>3</span>
                        </div>
                    </div>
                    <div>
                        <!-- product rating start -->
                        <div class="rating active" style="--rating: 40%">
                            <img src="assets/images/single-rating.png" alt="alt">
                        </div>
                        <!-- product rating end -->

                        <div class="progress" style="--width: 10%">
                            <div class="progress_bar"></div>
                            <span>2</span>
                        </div>
                    </div>
                    <div>
                        <!-- product rating start -->
                        <div class="rating active" style="--rating: 20%">
                            <img src="assets/images/single-rating.png" alt="alt">
                        </div>
                        <!-- product rating end -->

                        <div class="progress" style="--width: 0%">
                            <div class="progress_bar"></div>
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- product rating end -->

        </div>
        <div class="tab_content">
            <div class="description">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </div>
        </div>
        <div class="tab_content">
            <table>
                <tr>
                    <th>Book Name</th>
                    <th>Author Name</th>
                    <th>Genre</th>
                </tr>
                <tr>
                    <td>The Book Thief</td>
                    <td>Markus Zusak</td>
                    <td>Historical Fiction</td>
                </tr>
                <tr>
                    <td>The Cruel Prince</td>
                    <td>Holly Black</td>
                    <td>Fantasy</td>
                </tr>
                <tr>
                    <td>The Silent Patient</td>
                    <td> Alex Michaelides</td>
                    <td>Psychological Fiction</td>
                </tr>
            </table>
        </div>
    </div>
</div>

